<%= form_for([erp_partners, :backend, partner], html: {multipart: true}) do |f| %>
    <div class="form-body">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-center">Hình ảnh 390x195 (Trang danh sách)</h4>
                        <%= erp_form_control('image', {
                            img_src: partner.image_list_url.sys,
                            name: 'partner[image_list_url]',
                            width: 150,
                            height: 150
                        }) %>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-center">Hình ảnh 600x300 (Trang chi tiết)</h4>
                        <%= erp_form_control('image', {
                            img_src: partner.image_detail_url,
                            name: 'partner[image_detail_url]',
                            width: 150,
                            height: 150
                        }) %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control("text", {
                                    name: 'partner[name]',
                                    value: partner.name,                   
                                    label: t('.name'),
                                    placeholder: t('.enter_name'),
                                    required: true,
                                    errors: partner.errors.full_messages_for(:name)
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control('date', {
                                    label: t('.birth'),
                                    name: 'partner[birth]',
                                    value: partner.birth,
                                    placeholder: t('.choose_birth'),
                                    required: true,
                                    errors: partner.errors.full_messages_for(:birth)
                                }) %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <%= erp_form_control("text", {
                                    name: 'partner[owner]',
                                    value: partner.owner,                   
                                    label: t('.owner'),
                                    placeholder: t('.enter_owner'),
                                    required: true,
                                    errors: partner.errors.full_messages_for(:owner)
                                }) %>
                            </div>
                            <div class="col-md-3">
                                <%= erp_form_control("text", {
                                    name: 'partner[website]',
                                    value: partner.website,                   
                                    label: t('.website'),
                                    placeholder: t('.enter_website')
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control("text", {
                                    name: 'partner[address]',
                                    value: partner.address,                   
                                    label: t('.address'),
                                    placeholder: t('.enter_address')
                                }) %>
                            </div>
                        </div>
                        <%= erp_form_control("editor", {
                            name: 'partner[short_description]',
                            value: partner.short_description,                   
                            label: t('.short_description'),
                            type: "tiny"
                        }) %>
                    </div>
                </div>                            
                <%= erp_form_control("editor", {
                    name: 'partner[letter]',
                    value: partner.letter,                   
                    label: t('.letter'),
                }) %>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_partners.backend_partners_path
    }) %>
<% end %>